---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import { experiences } from '../data';
import InfoContainer from '../components/home/InfoContainer.astro';
---

<!DOCTYPE html>
<html lang="pt">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<section class="flex flex-col">
				<p>I'm</p>
				<h2>Gabriel Rocha</h2>
				<p>Fullstack developer</p>
			</section>

			<p>
				Developer since 17, had my first contact with code when I was 15 during the pandemic, that time I built a <a href="/projects/#c-calc">terminal calculator with C language</a>
			</p>
		</main>
		<InfoContainer title="Experiences" details={experiences} />
		<Footer />
	</body>
</html>
