---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import { experiences } from '../data';
import InfoContainer from '../components/home/InfoContainer.astro';
---

<!DOCTYPE html>
<html lang="pt">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<section>Portfolio on development!</section>
			<section class="flex flex-col mt-20">
				<p class="font-bold text-2xl">I'm</p>
				<h2 class="font-extrabold text-transparent text-7xl bg-clip-text bg-gradient-to-r from-purple-400 to-blue-600">Gabriel Rocha</h2>
				<p class="font-bold text-2xl">Fullstack developer</p>
			
				<p class="font-bold">
					Developer since 17, had my first contact with code when I was 15 during the pandemic, that time I built a <a class="underline" href="/projects/#c-calc">terminal calculator with C language</a>
				</p>
			</section>


			<section>
				<InfoContainer title="Experiences" details={experiences} />
			</section>
		</main>
		<Footer />
	</body>
</html>
