---
import { personal_links } from "../data"
const today = new Date();
---

<footer class="flex flex-col items-center">
	<section class="mt-2">
		<h5 class="text-xl font-bold">Contact me</h5>
			<ul class="underline flex">
				{personal_links.map(item => {
				return (								<li class="mr-2">
						<a target="_blank" href={item.link}>{item.label}</a>
					</li>
				)
			})}
		</ul>
	</section>
	<p class="mt-4">
		&copy; {today.getFullYear()} Gabriel Rocha. All rights reserved.
	</p>
</footer>
<style>
	footer {
		margin-top: auto;
		padding: 25px;
		text-align: center;
	}
</style>
